
services:
  user_service:
    build: 
      context: ./user_service
    depends_on:
      - user_db
#    command: "gunicorn --bind 0.0.0.0:8000 -k uvicorn.workers.UvicornWorker user_service.users:app"
#    volumes:
#      - ./user_service/:/app/
    ports:
      - 8000:8000
    environment:
      - DATABASE_URL=postgresql://user_db_username:user_db_password@user_db/user_db_dev
    command: [ "uvicorn", "app.users:app", "--host", "0.0.0.0", "--port", "8000" ]


  user_db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data_user:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user_db_username
      - POSTGRES_PASSWORD=user_db_password
      - POSTGRES_DB=user_db_dev

volumes:
  postgres_data_user:



