
services:
  user_service:
    build: ./user-service
    depends_on:
      - user_db
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./user-service/:/app/
    ports:
      - 8001:8000
    environment:
      - DATABASE_URL=postgresql://user_db_username:user_db_password@user_db/user_db_dev

  user_db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data_user:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user_db_username
      - POSTGRES_PASSWORD=user_db_password
      - POSTGRES_DB=user_db_dev

volumes:
  postgres_data_user:



